.BlogTemplate {
  display: flex;
  flex-direction: column;
  height: auto;

  .PostPage {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 50px;

    .PostHeader {
      flex: 1;

      .PostBack {
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        padding: 10px;
        transition: color 0.2s, background 0.2s;

        &:hover {
          color: $fifth;
          background: $second;
        }
      }

      h1 {
        font-size: 3em;
        color: $fourth;
        margin-top: 25px;
      }

      h2 {
        color: #d0d0d0;
      }
    }

    .PostContent {
      flex: 1;
      list-style-position: inside;
      line-height: 30px;
      margin: 50px;

      p {
        margin: 30px 0px 30px 0px;
      }
    }
  }
}
