@import "./ContactForm.scss";

.Contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 5em;
  }

  .subtext {
    margin-top: 50px;
    font-size: 1.2em;
    word-wrap: break-word;
    max-width: 400px;
    text-align: center;
    color: #d0d0d0;
  }
}

@media only screen and (max-width: $dMed) {
  .Contact {
    h1 {
      font-size: 4em;
    }
  }
}

@media only screen and (max-width: $padSml) {
  .Contact {
    h1 {
      font-size: 3em;
    }

    .subtext {
      margin-top: 20px;
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: $phoBig) {
  .Contact {
    h1 {
      font-size: 3em;
    }

    .subtext {
      max-width: 250px;
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: $phoMed) {
  .Contact {
    h1 {
      font-size: 2em;
    }

    .subtext {
      font-size: 0.8em;
    }
  }
}
