.ContactForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  * {
    font-size: 1.3em;
    padding: 10px;
    margin: 10px;
  }

  .TypedInput {
    flex: 1;

    &:focus {
      outline: none;
      border: 2px solid $fifth;
    }
  }

  .Area {
    resize: vertical;
    max-height: 30vh;
  }

  .ButtonInput {
    flex: 1;
    background: $third;
    border: none;
    color: $first;
    transition: background 0.2s, color 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $second;
      background: $fourth;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $padMed) {
  .ContactForm {
    margin-top: 20px;

    * {
      font-size: 1.2em;
    }
  }
}

@media only screen and (max-width: $phoBig) {
  .ContactForm {
    * {
      font-size: 0.8em;
      padding: 5px;
    }
  }
}
