.Navigation {
  flex: 1;
  padding: 20px;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .Link {
    color: white;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $fifth;

      &:not(:last-child)::after {
        color: #d0d0d0;
      }
    }

    &:not(:last-child)::after {
      content: "|";
      color: #d0d0d0;
    }
  }

  .Active {
    text-decoration: none;
    color: $fifth;

    &:not(:last-child)::after {
      content: "|";
      color: #d0d0d0;
    }
  }
}

@media only screen and (max-width: 700px) {
  .Navigation {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 450px) {
  .Navigation {
    font-size: 1em;
  }
}
