.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  justify-content: center;

  a {
    flex: 1;
    min-width: 250px;
    margin: 30px;
    background: $second;
    padding: 30px;
    text-decoration: none;
    height: auto;
    max-height: 500px;
    transition: color 0.2s, background 0.2s;

    &:hover {
      background: $third;
    }

    h2 {
      font-size: 1.4em;
      color: $fourth;
      margin-bottom: 30px;
    }

    p {
      color: #d0d0d0;
    }

    &:nth-child(3n) {
      min-width: 400px;
      width: 400px;
    }
  }
}
