.Socials {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .Social {
    flex: 1;
    font-size: 3em;
    color: $third;
    transition: color 0.2s;
    margin: 10px;

    &:hover {
      color: $fifth;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .Socials {
    .Social {
      font-size: 2em;
    }
  }
}

@media only screen and (max-width: $phoBig) {
  .Socials {
    .Social {
      font-size: 1.4em;
    }
  }
}
